.std{
  text-align: center;
  border: 5px solid greenyellow;
  margin: 10px;
  color: blueviolet;
  background-color: antiquewhite;
}
.card{
  text-align: center;
  border: 5px solid greenyellow;
  margin: 10px;
  color: blueviolet;
  background-color: antiquewhite;
}